

/* nav */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
}

.navbar .logo {
    display: block;
    width: 200px;
}

/* nav - dropdown */

.dropdown-toggle {
    padding-right: 15px;
    position: relative;
}

.dropdown-toggle:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #A5A6AC;
    content: '';
    display: block;
    height: 0;
    margin-top: -12px;
    position: absolute;
    width: 0;
    right: 0;
}

/* footer */

footer {
    background-color: #303030;
    color: #fff;
    padding: 10px;
    text-align: center;

}

footer p {
    color: #fff;
}
