<nav class="navbar navbar-default">
   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gusto-navbar" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="http://docs.gusto.com">
         <img class="logo" src="https://s3.amazonaws.com/assets.gusto.com/static/docs/images/logo/gusto_docs_logo.svg" alt="Gusto Docs"/>
       </a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="gusto-navbar">
       <ul class="nav navbar-nav">
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples</a>
           <ul class="dropdown-menu">
             <li>
               <a href="/v1/examples/updating-payrolls">Updating Payrolls</a>
             </li>
             <li>
               <a href="/v1/examples/syncing-employees">Syncing Employees</a>
             </li>
             <li>
               <a href="/v1/examples/authentication">Authentication</a>
             </li>
           </ul>
         </li>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
           <ul class="dropdown-menu">
             <li>
               <a href="/v1/current_user">Current User</a>
             </li>
             <li>
               <a href="/v1/companies">Companies</a>
             </li>
             <li>
               <a href="/v1/company_locations">Company Locations</a>
             </li>
             <li>
               <a href="/v1/employees">Employees</a>
             </li>
             <li>
               <a href="/v1/employee_home_address">Employees Home Address</a>
             </li>
             <li>
               <a href="/v1/jobs">Jobs</a>
             </li>
             <li>
               <a href="/v1/compensations">Compensations</a>
             </li>
             <li>
               <a href="/v1/paid_time_off">Paid Time Off</a>
             </li>
             <li>
               <a href="/v1/garnishments">Garnishments</a>
             </li>
             <li>
               <a href="/v1/terminations">Terminations</a>
             </li>
             <li>
               <a href="/v1/pay_periods">Pay Periods</a>
             </li>
             <li>
               <a href="/v1/payrolls">Payrolls</a>
             </li>
             <li>
               <a href="/v1/benefits">Benefits</a>
             </li>
             <li>
               <a href="/v1/company_benefits">Company Benefits</a>
             </li>
             <li>
               <a href="/v1/employee_benefits">Employee Benefits</a>
             </li>
             <li>
               <a href="/v1/locations">Locations</a>
             </li>
           </ul>
         </li>
         <!--<li>-->
           <!--hiding this until we need it -->
           <!--<a href="/v1/faq">FAQs</a>-->
         <!--</li>-->
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Endpoints</a>
           <ul class="dropdown-menu">
             <li>
               <a href="/v1/accounts">Partner Endpoints</a>
             </li>
             <li>
               <a href="/v1/states">Public Endpoints</a>
             </li>
           </ul>
         </li>
         <li>
           <a href="/v1/considerations/versioning">Versioning</a>
         </li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="https://app.gusto.com/login">Sign In</a></li>
       </ul>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav>
