<nav>
  <div>
    <ul id="secondarynav" class="nav nav-tabs nav-stacked">

      <li><h3>Documentation</h3></li>
      <li><a href="/"><i class="icon-home"></i> API Home</a></li>

      <li><h3>Examples</h3></li>

      <li>
        <a href="/docs/v1/examples/updating-payrolls">
          <i class="icon-thumbs-up"></i> Updating Payrolls
        </a>
      </li>
      <li>
        <a href="/docs/v1/examples/syncing-employees">
          <i class="icon-refresh"></i> Syncing Employees
        </a>
      </li>
      <li>
        <a href="/docs/v1/examples/authentication">
          <i class="icon-key"></i> Authentication
        </a>
      </li>

      <li><h3>Resources</h3></li>

      <li>
        <a href="/docs/v1/current_user">
          <i class="icon-heart"></i> Current User
        </a>
      </li>
      <li>
        <a href="/docs/v1/employees">
          <i class="icon-group"></i> Employees
        </a>
      </li>
      <li>
        <a href="/docs/v1/companies">
          <i class="icon-building"></i> Companies
        </a>
      </li>
      <li>
        <a href="/docs/v1/pay_periods">
          <i class="icon-calendar"></i> Pay Periods
        </a>
      </li>
      <li>
        <a href="/docs/v1/payrolls">
          <i class="icon-money"></i> Payrolls
        </a>
      </li>
      <li><h3>Considerations</h3></li>

      <li>
        <a href="/docs/v1/considerations/versioning">
          <i class="icon-plus-sign-alt"></i> Versioning
        </a>
      </li>
    </ul>
  </div>
</nav>
