<nav>
  <div>
    <ul id="secondarynav" class="nav nav-tabs nav-stacked">

      <li><h3>Documentation</h3></li>
      <li><a href="/"><i class="icon-home"></i> API Home</a></li>

      <li><h3>Examples</h3></li>

      <li>
        <a href="/v1/examples/updating-payrolls">
          <i class="icon-thumbs-up"></i> Updating Payrolls
        </a>
      </li>
      <li>
        <a href="/v1/examples/syncing-employees">
          <i class="icon-refresh"></i> Syncing Employees
        </a>
      </li>
      <li>
        <a href="/v1/examples/authentication">
          <i class="icon-key"></i> Authentication
        </a>
      </li>

      <li><h3>Resources</h3></li>

      <li>
        <a href="/v1/current_user">
          <i class="icon-heart"></i> Current User
        </a>
      </li>
      <li>
        <a href="/v1/companies">
          <i class="icon-building"></i> Companies
        </a>
      </li>
      <li>
        <a href="/v1/employees">
          <i class="icon-group"></i> Employees
        </a>
      </li>
      <li>
        <a href="/v1/employee_home_address">
          <i class="icon-location-arrow"></i> Employees Home Address
        </a>
      </li>
      <li>
        <a href="/v1/employee_federal_tax_information">
          <i class="icon-paper-clip"></i> Employee Federal Tax Information
        </a>
      </li>
      <li>
        <a href="/v1/jobs">
          <i class="icon-coffee"></i> Jobs
        </a>
      </li>
      <li>
        <a href="/v1/compensations">
          <i class="icon-trophy"></i> Compensations
        </a>
      </li>
      <li>
        <a href="/v1/paid_time_off">
          <i class="icon-sun"></i> Paid Time Off
        </a>
      </li>
      <li>
        <a href="/v1/garnishments">
          <i class="icon-legal"></i> Garnishments
        </a>
      </li>
      <li>
        <a href="/v1/terminations">
          <i class="icon-umbrella"></i> Terminations
        </a>
      </li>
      <li>
        <a href="/v1/pay_periods">
          <i class="icon-calendar"></i> Pay Periods
        </a>
      </li>
      <li>
        <a href="/v1/payrolls">
          <i class="icon-money"></i> Payrolls
        </a>
      </li>
      <li>
        <a href="/v1/benefits">
          <i></i> Benefits
        </a>
      </li>
      <li>
        <a href="/v1/company_benefits">
          <i></i> Company Benefits
        </a>
      </li>
      <li>
        <a href="/v1/employee_benefits">
          <i></i> Employee Benefits
        </a>
      </li>
      <li><h3>Considerations</h3></li>

      <li>
        <a href="/v1/considerations/versioning">
          <i class="icon-plus-sign-alt"></i> Versioning
        </a>
      </li>
    </ul>
  </div>
</nav>
