<nav>
  <div class="">
    <ul id="secondarynav" class="nav nav-tabs nav-stacked">

      <li><h3>Important Concepts</h3></li>

      <li>
        <a href="/docs/v1/important_concepts">Overview</a>
      </li>
      <li>
        <a href="/docs/v1/important_concepts#versioning">Versioning</a>
      </li>
      <li>
        <a href="/docs/v1/important_concepts#authentication">Authentication</a>
      </li>

      <li><h3>Resources</h3></li>

      <li>
        <a href="/docs/v1/current_user">Current User</a>
      </li>
      <li>
        <a href="/docs/v1/employees">Employees</a>
      </li>
      <li>
        <a href="/docs/v1/companies">Companies</a>
      </li>
      <li>
        <a href="/docs/v1/pay_periods">Pay Periods</a>
      </li>
      <li>
        <a href="/docs/v1/payrolls">Payrolls</a>
      </li>
    </ul>
  </div>
</nav>
