<!DOCTYPE html>

<html lang="en">
<head>
  <title>ZenPayroll API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="https://d1w32dwlo9psx6.cloudfront.net/assets/favicon-e559cc5ac3a11063ba30ce0a7554eb23.ico" />

  <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <link rel="stylesheet" type="text/css" href="/css/pygments/default.css">
  <link rel="stylesheet" type="text/css" href="/css/corporate-20130916.css">
  <link rel="stylesheet" type="text/css" href="/css/resource.css">

</head>

<body>

{% include header.html %}

<section id="staticimage" class="container-fluid company"></section>

<section class="container-fluid secondary">
  <div class="container">
    <div class="row">

      <div class="span3 hidden-phone">
        {% include navigation.html %}
      </div>

      <div class="span9">
        <div class="secondary-main">
          {{ content }}
        </div>

      </div>
    </div>
</section>

{% include footer.html %}

</body>
</html>
