<!DOCTYPE html>

<html lang="en">
<head>
  <title>Gusto API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gusto (formerly ZenPayroll) API Documentation" />
  <meta property="og:description" content="Gusto (formerly ZenPayroll) API Documentation" />
  <meta property="og:site_name" content="Gusto API" />
  <meta property="og:image" content="http://static.gusto.com/logos/gusto-lockup-horizontal-RBG-white@2x.png" />
  <meta property="og:title" content="Gusto API" />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//assets.gusto.com/assets/favicon/apple-touch-icon-57x57-f1ee303a3419d6fd9213b634aefe0b124a4b503bddc957b706fc1c9657f1c74f.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//assets.gusto.com/assets/favicon/apple-touch-icon-114x114-ee0adad12ed34a31b8a6fab4f48d3f8b40666f4c6a9b74bdd995a344304c7ed5.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//assets.gusto.com/assets/favicon/apple-touch-icon-72x72-f5961716780ea91ead754cd4cd4099d3d10efdb336dd2d6be09290a60eba17d2.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//assets.gusto.com/assets/favicon/apple-touch-icon-144x144-49416725acc164832e5135aface6e32ae4067a9b8da313f5ead4e3b70cb7b326.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//assets.gusto.com/assets/favicon/apple-touch-icon-120x120-7ec704136c185265a3a4104aa55611c4b9caa7539813e0f7b42f2b10f4f2a7fd.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//assets.gusto.com/assets/favicon/apple-touch-icon-152x152-32a8974b66a06ade3f1a38d7777563ed535e2a36130275606d69a3ca8a3c5d35.png" />
  <link rel="icon" type="image/png" href="//assets.gusto.com/assets/favicon/favicon-32x32-b3be8d7a465d14973f1b05c5374f43c6caf17a0185c9e4b7a417672d0951cf79.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="//assets.gusto.com/assets/favicon/favicon-16x16-0f7dec5c68764da97aca4e2e00678c69468fd8e765166bba5f513044175b6d27.png" sizes="16x16" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <link rel="stylesheet" type="text/css" href="/css/pygments/default.css">
  <link rel="stylesheet" type="text/css" href="/css/gusto.css">
  <link rel="stylesheet" type="text/css" href="/css/resource.css">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- typekit -->
  <script src="https://use.typekit.net/tvz5gcb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body class="active-font">

<div class="container">

  {% include nav.html %}

  <!--<section id="staticimage" class="container-fluid company"></section>-->

  <div class="row">

    <div class="col-xs-12">
      {{ content }}
    </div>

  </div>

  {% include footer.html %}

</div>
</body>
</html>
