<!DOCTYPE html>

<html lang="en">

{% include head.html %}

<body class="active-font">

<div class="outer">
  {% include nav.html %}
  <!--<section id="staticimage" class="container-fluid company"></section>-->

  <section class="main">
    <div class="container">
      <div class="row">

        <div class="md-hidden col-md-3">
          <div class="sub-menu">
            <h4>Examples</h4>
            <ul>
              <li>
                <a href="/v1/examples/updating-payrolls">Updating Payrolls</a>
              </li>
              <li>
                <a href="/v1/examples/syncing-employees">Syncing Employees</a>
              </li>
              <li>
                <a href="/v1/examples/authentication">Authentication</a>
              </li>
            </ul>

            <h4>Resources</h4>
            <ul>
              <ul>
                <li>
                  <a href="/v1/current_user">Current User</a>
                </li>
                <li>
                  <a href="/v1/companies">Companies</a>
                </li>
                <li>
                  <a href="/v1/company_locations">Company Locations</a>
                </li>
                <li>
                  <a href="/v1/employees">Employees</a>
                </li>
                <li>
                  <a href="/v1/employee_home_address">Employees Home Address</a>
                </li>
                <li>
                  <a href="/v1/time_off_requests">Time Off Requests</a>
                </li>
                <li>
                  <a href="/v1/jobs">Jobs</a>
                </li>
                <li>
                  <a href="/v1/compensations">Compensations</a>
                </li>
                <li>
                  <a href="/v1/garnishments">Garnishments</a>
                </li>
                <li>
                  <a href="/v1/terminations">Terminations</a>
                </li>
                <li>
                  <a href="/v1/pay_schedules">Pay Schedules</a>
                </li>
                <li>
                  <a href="/v1/pay_periods">Pay Periods</a>
                </li>
                <li>
                  <a href="/v1/payrolls">Payrolls</a>
                </li>
                <li>
                  <a href="/v1/benefits">Benefits</a>
                </li>
                <li>
                  <a href="/v1/company_benefits">Company Benefits</a>
                </li>
                <li>
                  <a href="/v1/employee_benefits">Employee Benefits</a>
                </li>
                <li>
                  <a href="/v1/locations">Locations</a>
                </li>
              </ul>
            </ul>

            <h4>Endpoints</h4>
            <ul>
              <li>
                <a href="/v1/accounts">Partner Endpoints (Accounts)</a>
              </li>
              <li>
                <a href="/v1/states">Public Endpoints (States)</a>
              </li>
            </ul>

            <h4>Considerations</h4>
            <ul>
              <li>
                <a href="/v1/considerations/versioning">Versioning</a>
              </li>
            </ul>

            <!--TODO: Uncomment when webhooks become live for all partners-->
            <!--<h4><a id='title-link' href="/v1/webhooks/about">Webhooks</a></h4>-->
            <!--<ul>-->
              <!--<ul>-->
                <!--<li>-->
                  <!--<a href="/v1/webhooks/companies">Companies</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="/v1/webhooks/employees">Employees</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="/v1/webhooks/locations">Locations</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="/v1/webhooks/pay_schedules">Pay Schedules</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="/v1/webhooks/payrolls">Payrolls</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</ul>-->
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          {{ content }}
        </div>

      </div>
    </div>
  </section>

  {% include footer.html %}

</div>

</body>
</html>
